<!-- @for (item of texts; track $index) {
    <p>{{item.name}} - {{item.id}} <a [routerLink]="['/text', item.name]">View</a></p>
} -->
<div class="m-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @for (prod of texts; track $index)
        {
        <div class="col">
            <div class="card h-100">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title">{{prod.name}}</h5>
                    <p class="card-text">
                        {{prod.info}}
                    </p>
                    <a [routerLink]="['/text', prod.name]">View</a>
                </div>
            </div>
        </div>
        }
        <p>
            @if (!texts || texts.length <= 0) {
               Empty 
            }
        </p>
    </div>
</div>
